[submodule "src/projects/Memory-js"]
	path = src/projects/Memory-js
	url = https://github.com/gust358/Memory-js
[submodule "src/projects/TicTacToe-js"]
	path = src/projects/TicTacToe-js
	url = https://github.com/gust358/TicTacToe-js
